@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Chillax";
  src: url("/Fonts/WEB/fonts/Chillax-Regular.woff") format("woff2"),
    url("/Fonts/WEB/fonts/Chillax-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Chillax";
  src: url("/Fonts/WEB/fonts/Chillax-Bold.woff2") format("woff2"),
    url("/Fonts/WEB/fonts/Chillax-Bold.woff2") format("woff");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide scrollbars globally */
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide increment/decrement buttons on number inputs */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

input[type="number"],
input[type="text"],
input[type="email"] {
  color: black;
}
